.root {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: #999;
}

/* Progress Bar */
.progress-bar > .track {
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 2;
}

.progress-bar > .bar {
	-fx-background-color: #4caf50;
	-fx-background-insets: 0;
	-fx-background-radius: 2;
}

/* Button */
.button {
	-fx-cursor: hand;
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 2, 2, 2;
}

.button:disabled {
	-fx-opacity: 1;
	-fx-background-color: -fx-outer-border, -fx-outer-border, -fx-outer-border;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 2, 2, 2;
}
